<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <dev class="outer-div"> 
      <h2 class="h1">Web Chat App</h2>
      <button onclick="window.location.href='/sign-in'"class="link">SIGN IN</button>
      <button onclick="window.location.href='/sign-up'" class="link">SIGN UP</button>
    </dev>
  </body>
</html>
